/* styles.css */
/* .paragraph-gradient-even {
    background: linear-gradient(to right, #ffffff 50%, #f0f0f0 50%);
    background-size: 200% 100%;
    animation: gradient-animation 3s linear infinite;
  }
  
  .paragraph-gradient-odd {
    background: linear-gradient(to left, #ffffff 50%, #f0f0f0 50%);
    background-size: 200% 100%;
    animation: gradient-animation 3s linear infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  } */
  